<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <title>{{site.title}} | {{title}}</title>
  <link rel="alternate" type="application/rss+xml" href="{{site.feed_url}}" />
  <link href="//fonts.googleapis.com/css?family=Open+Sans:400,600,800" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="/style.css" />
</head>
<body>


<section>
  <header>
    <a class="logo ir" href="/">{{site.title}}</a>
    <p class="site-description">{{site.meta['description']}}</p>

{% comment %}
    <ul class="page-menu clearfix">
      {% for page in site.pages %}
      <li{% if page.url == url %} class="current-menu-item"{% endif %}><a href="{{page.url}}">{{page.title}}.</a></li>
      {% endfor %}
    </ul>
{% endcomment %}
  </header>
</section>

<section>
  {{body}}
</section>


{% comment %}
{% for post in posts %}
<section class="{{post.meta.class}}">
  {{post.body}}
</section>
{% endfor %}
{% endcomment %}


<section>
  <footer>
    <p>Let us design a better world.</p>
    <p><a href="mailto:&#x77;&#x6F;&#x72;&#x6B;&#x40;&#x6C;&#x65;&#x64;&#x65;&#x73;&#x69;&#x67;&#x6E;&#x74;&#x65;&#x61;&#x6D;&#x2E;&#x63;&#x6F;&#x6D;">work@ledesignteam.com</a></p>
    <p>Keep in touch! <a href="http://twitter.com/celinecelines">@celinecelines</a></p>
  </footer>
</section>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-42713315-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

</body>
</html>