<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <title>{{site.title}} | {{title}}</title>
  <link rel="alternate" type="application/rss+xml" href="{{site.feed_url}}" />
  <link rel="stylesheet" type="text/css" href="/style.css" />
</head>
<body>


  <section class="grey header">
    <ul class="page-menu clearfix">
      <a class="logo ir" href="/">{{site.title}}</a>
      {% for page in site.pages %}
      <li{% if page.url == url %} class="current-menu-item"{% endif %}><a href="{{page.url}}">{{page.title}}.</a></li>
      {% endfor %}
    </ul>
  </section>


  <section class="red">
    {{body}}
  </section>


  {% for post in posts %}
  <section class="{{post.meta.class}}">
    {{post.body}}
  </section>
  {% endfor %}


  <footer class="grey">
    <h1>Take Care,</h1>
    <p><a href="us@ledesignteam.com">us@ledesignteam.com</a></p>
  </footer>


  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-42713315-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>

</body>
</html>