<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <title>{{site.title}} | {{title}}</title>
  <link rel="alternate" type="application/rss+xml" href="{{site.feed_url}}" />
  <link rel="stylesheet" type="text/css" href="/style.css" />
</head>
<body>


  <section class="grey header">
    <ul class="page-menu clearfix">
      <a class="logo ir" href="/">{{site.title}}</a>
      {% for page in site.pages %}
      <li{% if page.url == url %} class="current-menu-item"{% endif %}><a href="{{page.url}}">{{page.title}}.</a></li>
      {% endfor %}
    </ul>
  </section>


  <section class="red">
    {{body}}
  </section>


  {% for post in posts %}
  <section class="{{post.meta.color}}">
    {{post.body}}
  </section>
  {% endfor %}


  <footer class="grey">
    <h1>Take Care,</h1>
    <p><a href="us@ledesignteam.com">us@ledesignteam.com</a></p>
  </footer>


</body>
</html>