

/* Layout */

section { width:700px; margin:0 auto; clear:both; }
section, blockquote, footer { padding:1.5em 0; }


/* Typography */

body { font-family:'Open Sans', sans-serif; font-size:18px; line-height:1.5; color:#333; background:#fff; margin:0; padding:1em 0 10em 0; line-height:1.5; }

/*h1, h2, h3, h4, h5, h6, p, ul, ol { margin:0 auto; width:860px; padding-left:210px; box-sizing:border-box; -moz-box-sizing:border-box; }*/
/*section > p:last-child, section > ul:last-child, section > ol:last-child, blockquote p:last-child { margin-bottom:0; }*/
ul ul, ol ol { padding-left:1em; margin-bottom:1em; }
li p { padding-left:0; }
blockquote { margin-top:1em; margin-bottom:30px; border-top:10px solid #e8d200; border-bottom:10px solid #e8d200; font-weight:bold; }

h1 { font-size:140%; font-weight:400; text-align:center; margin:1em 0 2em 0; }
h2 { font-size:90%; font-weight:600; margin-top:2em; }
h2::after { content:" "; display:block; width:24px; height:0px; border-bottom:6px solid #000; margin:1em 0; }

p { margin-top:0; margin-bottom:1em; }
a { color:#333; }

img, video, object{ max-width:100% }
article, header, nav, section { display:block; }


/* Section styles */



/* Header & Footer */

header {  }
.logo { font-size:80%; display:block; background-image:url('/assets/logo.png'); background-size:415px 110px; width:415px; height:110px; float:left; }
.site-description { width:250px; font-size:13px; line-height:1.8; float:right; }

footer { width:70%; margin:auto; background:black; color:white; }
footer p { margin:0 23%; }
footer a { color:#eee; }


/* Utility */

.center { text-align:center; }
.ir { text-indent:-999em; display:block; background-repeat:no-repeat; background-position:0 0; }
.clearfix:before, .clearfix:after { content:''; display:block; height:0; visibility:hidden; }
.clearfix:after { clear:both; }
.clearfix { min-height:0; }


/* Small screen */
@media only screen and (max-width:960px) {
  body { font-size:16px; }
  h1, h2, h3, h4, h5, h6, p, ul { width:auto !important; padding:0 10px !important; }
  .header { padding-bottom:1em; }
  .logo { float:none; }
  .site-description { float:none; width:auto; }
}
@media only screen and (max-width:360px) {
  .logo { float:none; }
}

/* I got 99 problems, but this last line ain't one */


