

/* Layout */

section { width:700px; margin:0 auto; clear:both; }
section, blockquote, footer { padding:1.5em 0; }


/* Typography */

body { font-family:'Garamond', serif; font-size:24px; line-height:1.5; color:#333; background:#fff; margin:0; padding:1em 0 0 0; line-height:1.5; }
ul ul, ol ol { padding-left:1em; margin-bottom:1em; }
li p { padding-left:0; }
blockquote { margin-top:1em; margin-bottom:30px; border-top:10px solid #e8d200; border-bottom:10px solid #e8d200; }

h1 { font-size:140%; font-weight:normal; text-align:center; margin:1em 0 2em 0; }
h2 { font-size:90%; font-weight:normal; margin-top:2em; }
h2::after { content:" "; display:block; width:24px; height:0px; border-bottom:5px solid #000; margin:1em 0; }

p { margin-top:0; margin-bottom:1em; }
a { color:#333; }

img, video, object{ max-width:100% }
article, header, nav, section { display:block; }


/* Header & Footer */

header {  }
.logo { font-size:80%; display:block; background-image:url('/assets/logo.png'); background-size:100%; width:170px; height:110px; float:left; }
.site-description { width:330px; font-size:0.75em; float:right; }

section.footer { padding-bottom:0; }
footer { width:70%; margin:auto; background:black; color:white; }
footer p { margin:0 20%; }
footer a { color:#eee; }


/* Utility */

.center { text-align:center; }
.ir { text-indent:-999em; display:block; background-repeat:no-repeat; background-position:0 0; }
.clearfix:before, .clearfix:after { content:''; display:block; height:0; visibility:hidden; }
.clearfix:after { clear:both; }
.clearfix { min-height:0; }


/* Small screen */
@media only screen and (max-width:960px) {
  body { font-size:16px; }
  h1, h2, h3, h4, h5, h6, p, ul { width:auto !important; padding:0 10px !important; }
  .header { padding-bottom:1em; }
  .logo { float:none; }
  .site-description { float:none; width:auto; }
}
@media only screen and (max-width:360px) {
  .logo { float:none; }
}
