
.header-logo {
  line-height: 1.1;
  max-width: 4em;
}

.link-block {
  display: block;
  padding-top: 3em;
  padding-bottom: 3em;
}
.link-block .title-lg {
  margin-bottom: 0;
}

.bg--yellow {
  background: var(--yellow);
}
.bg--pink {
  background: var(--pink);
}
.bg--purple {
  background: var(--purple);
}
.bg--rust {
  background: var(--rust);
}

/*.splotch--yellow {
  background: url('/assets/images/spotch-yellow.png') 0 0 no-repeat;
}
.splotch--purple {
  background: url('/assets/images/spotch-purple.png') 0 0 no-repeat;
}
  .splotch--purple.splotch-title--bottom {
    background: url('/assets/images/spotch-purple--bottom.png') 50% 100% no-repeat;
  }*/
/*.splotch--pink {
  background: url('/assets/images/spotch-pink.png') 0 0 no-repeat;
}*/
  /*.splotch--pink.splotch-title--bottom, .link-block:hover .splotch-title--bottom {
    background: url('/assets/images/spotch-pink--bottom.png') 50% 100% no-repeat;
  }
.splotch--rust {
  background: url('/assets/images/spotch-rust.png') 0 0 no-repeat;
}
.splotch--contact {
  background-size: auto;
}
.splotch {
  display: inline-block;
  padding: 1.2em;
  background-size: contain;
  margin: 0;
}
.splotch a {
  background: none;
  padding: 0;
}

.splotch-title {
  line-height: inherit;
  background-size: auto;
  padding: 2em;
  margin:0;
}
.splotch-title--top {
  padding-bottom: 0;
}
.splotch-title--bottom {
  padding-top: 0;
}*/

.footer a {
  background: none;
}
