
.header-logo {
  /*word-spacing: 40em; */
  line-height: 1.1;
  max-width: 4em;
}

.splotch--yellow {
  background: url('/assets/images/spotch-yellow.png') 0 0 no-repeat;
}
.splotch--purple {
  background: url('/assets/images/spotch-purple.png') 0 0 no-repeat;
}
.splotch--rust {
  background: url('/assets/images/spotch-rust.png') 0 0 no-repeat;
}
.splotch--contact {
  background-size: auto;
}
.splotch {
  display: inline-block;
  padding: 1.2em;
  background-size: contain;
}

.content-right {
  float: right;
}

.footer {
  background: var(--yellow);

  a {
    background: none;
  }
}
