
.header-logo {
  line-height: 1.1;
  max-width: 4em;
}

.bg--yellow {
  background: var(--yellow);
}
.bg--purple {
  background: var(--purple);
}
.bg--rust {
  background: var(--rust);
}

.splotch--yellow {
  background: url('/assets/images/spotch-yellow.png') 0 0 no-repeat;
}
.splotch--purple {
  background: url('/assets/images/spotch-purple.png') 0 0 no-repeat;
}
.splotch--rust {
  background: url('/assets/images/spotch-rust.png') 0 0 no-repeat;
}
.splotch--contact {
  background-size: auto;
}
.splotch {
  display: inline-block;
  padding: 1.2em;
  background-size: contain;
  margin: 0;
}
.splotch a {
  background: none;
  padding: 0;
}

.splotch-title {
  line-height: inherit;
  background-size: auto;
  padding: 2em; padding-bottom: 0;
  margin:0;
}

.footer a {
  background: none;
}
